/* ===================================== */
/* ======== Menu Principal ============= */
/* ===================================== */

UL#navmenu-h {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px; 
	LIST-STYLE-TYPE: none; 
	POSITION: relative;	
	
	background: #f9f5ea;
	border-top: 1px solid #F3B967;
	border-bottom: 1px solid #F3B967;	
	margin-top: -30px;
	width: 763px;
	height: 28px;
	font: bold 12px Arial;
}
UL#navmenu-h UL {
	DISPLAY: none; 
	LEFT: 0px; 
	MARGIN: 0px; 
	WIDTH: 160px; /* Sub Menu Width */
	LIST-STYLE-TYPE: none; 
	POSITION: absolute; 
	TOP: 100%;
	font: normal 12px Arial;
	border: 1px solid #EDD8B9;
}

ul#navmenu-h ul ul,ul#navmenu-h ul ul ul { 
	top: 0; 
	left: 100%; 
	border: 1px solid #EDD8B9;
}

ul#navmenu-h li { 
	float: left; 
	display: inline; 
	position: relative;
	border-right: 1px solid #F3B967;	
}

ul#navmenu-h ul li { 
	width: 100%; 
	display: block;
	border-right:none;
}

/* Root Menu */
UL#navmenu-h A {
	
	display:block; 
  padding:6px 20px;
	FLOAT: left; 
	HEIGHT: 1%; 
	TEXT-DECORATION: none;
	
	background: #f9f5ea;
	color: #6d6e71;
}

/* Root Menu Hover Persistence */
ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a {
 background: #f6dbb0; 
 color: #6d6e71; 
}

/* 2nd Menu */
ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a {
 float: none;
 background: #fbeed5;
 margin-left:-40px;
 *margin-left:0px;/*aplicado somente ao ie 6*/
}

/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a {
 background: white;
 color: #b27235;
border-top: 1px solid #f5dfbf;
border-bottom: 1px solid #f7ecd8;
border-left: 2px solid #e6ae67;
padding:5px 20px 5px 18px;
}

/* 3rd Menu */
ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a {
background: #F9F5EA;
border-left:none;
 color: #6d6e71;
 border-top:none;
 border-bottom:none;
 
}

/* 3rd Menu Hover Persistence */
ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a {
background: white;
color: #b27235;
border-top: 1px solid #f5dfbf;
border-bottom: 1px solid #f7ecd8;
border-left: 2px solid #e6ae67;
padding:4px 20px 4px 16px;

}

/* Hover Function - Do Not Move */
ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none; }
ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display: block; }


/*Eventos da imagem do menu - pýgina inicial*/
#menu-principal .inicio
{
	height: 28px;
	width:38px;
	background: #F3B967 url(../imagens/home_icon_off.png) no-repeat;
	
}
#menu-principal  .inicio:hover
{
	background: #F3B967 url(../imagens/home_icon_on.png) no-repeat;
}

#menu-principal  a#inicio {
background: none;
color: none;
}